*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right, #605e7e, #6b73c1, #37b3cc);
}

.container-title {
    display: grid;
    column-gap: 10px;
    padding-bottom: 60px;
    padding-top: 50px;
    grid-template-columns: 42% 5%;
    justify-content: center;
    margin-top: 10px;
}

.input-title {
    min-height: 50px;
    padding: 0 10px;
    font-size: 20px;
    border-radius: 10px;
    border-color: #333;
}

.input-title:focus {
    outline: none;
}

.todotitle {
    font-size: 20px;
    display: grid;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

.inputcol {
    display: grid;
    column-gap: 2px;
    grid-template-columns: 60% 10%;
    min-height: 50px;
    justify-content: center;
    margin-top: 10px;
}

.input {
    border-radius: 10px;
    border-color: #333;
    font-size: 20px;
    padding: 0 10px;
}

.input:focus {
    outline: none;
}

.buttoninput {
    border-radius: 10px;
    border-color: #333;
    background-color: white;
    font-size: 20px;
}

.buttoninput:hover {
    background-color: #8f8acc;
    color: white;
}

.todolist {
    margin-top: 20px;
}

.itemall {
    display: grid;
    grid-template-columns: 60% 5% 5%;
    justify-content: center;
    margin-bottom: 2px;
}

.item {
    background-color: white;
    min-height: 50px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px 0 0 10px;
    border-color: #333;
    font-size: 20px;
    display: grid;
    align-content: center;
    padding: 10px 10px;
}

.check-button, .trash-button {
    min-height: 50px;
    background-color: white;
    border: none;
    font-size: 15px;
}

.trash-button {
    border-radius: 0 10px 10px 0;
}

.check-button:hover {
    background-color: #37b3cc;
    color: white;
}

.trash-button:hover {
    background-color: #6b73c1;
    color: white;
}

.checklist {
    text-decoration: line-through;
}

.fa-check, .fa-trash {
    pointer-events: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-bg: #181823;
    --dark-bg: #25253b;
    --primary: #F54B64;
    --white: #FFFFFF;
}

body{
    background-color: var(--dark-bg);
    height: 100%;
    color: var(--white);
}

/* header{
    text-align: center;
    margin:20px;
    width: 80%;
    padding: 50px;
    margin-left: 10%;
    background-color: var(--dark-bg);
    border-radius: 20px;
    box-shadow: 0 -10px 40px var(--light-bg);
    
} */

.main{
    display: flex;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    padding: 50px;
    background-color: var(--dark-bg);
    border-radius: 20px;
    box-shadow: 0 4px 40px var(--light-bg);

}
.main-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.sec-title {
    font-size: 16px;
    padding: 0.5em 0.5em;

}

.input{
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    /* border-radius: 8px; */
    border: none;
    padding: 0.25em 0.5em;
    background-color: var(--dark-bg);
    border-radius: 20px;
    box-shadow: 0 0px 40px var(--light-bg);
    color: white;
}

button {
    background-color: var(--dark-bg);
    border: 1px solid var(--white);
    padding: 5px 20px;
    margin-left: 10px;
    color: var(--white);
    border-radius: 20px;
}

.main-list{
    margin: 40px auto;
    justify-content: left;
    flex-direction: column;
}

.list-title{
    width: 100%;
    padding-left: 100px;
    font-size: 25px;
    margin-bottom: 20px;
}
.list-container{
    padding-left: 50px;
    width: 100%;
}

.striked{
    text-decoration: line-through;
}

.task-content{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.checkbox {
    margin: 0 20px;
    transform: scale(1.5);
}

.btnSave::after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}



.btnAdd:hover{
    box-shadow: 0 0 10px 0 #91045d inset, 0 0 20px 2px #d70015;
  border: 3px solid #bce30e;


}
